<div class="container">
    <h1>Add Apartment</h1>
    <div>
        <form [formGroup]="apartForm">
            <div class="mb-3">
              <label for="apartNum" class="form-label">Apartment Number</label>
              <input type="text" class="form-control is-valid" formControlName="apartNum" id="apartNum" aria-describedby="nameHelp">
              <div class="invalid-feedback">
                Looks bad!
              </div>
              <div class="valid-feedback">
                Looks good!
              </div>
             </div>
            <div class="mb-3">
              <label for="floorNum" class="form-label">Floor Number</label>
              <input type="text" class="form-control" formControlName="floorNum" id="floorNum">
            </div>
            <div class="mb-3">
                <label for="surface" class="form-label">Surface</label>
                <input type="number" class="form-control" formControlName="surface" id="surface">
            </div>
            <div class="col-12">
                <label for="terrace1" class="form-label">Terrace</label>
                <div class="offset-3">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="terrace" value="true" formControlName="terrace" id="terrace1">
                        <label class="form-check-label" for="terrace1">
                          Yes
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="terrace" value="false" id="terrace2" >
                        <label class="form-check-label" for="terrace2">
                          No
                        </label>
                      </div>
                </div>

            </div>

            <div class="mb-3" *ngIf="terrace?.value =='true'">
                <label for="st" class="form-label">Surface Terrace</label>
                <input type="number" class="form-control" formControlName="surfaceterrace" id="st">
            </div>

            <div class="col-12">
                <label for="c1" class="form-label">Category</label>
                <div class="offset-3">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="category" value="S+1" formControlName="category" id="c1">
                        <label class="form-check-label" for="c1">
                          S+1
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="category" value="S+2" id="c2" >
                        <label class="form-check-label" for="c2">
                          S+2
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="category" value="S+3" id="c3" >
                        <label class="form-check-label" for="c3">
                          S+3
                        </label>
                      </div>
                </div>

            </div>
            <div class="mb-3">
                <label for="exampleInputaddress1" class="form-label">Residence</label>
                <input type="number" class="form-control" formControlName="residence" id="exampleInputaddress1">
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="apartForm.invalid"  (click)="addApartment()" >Add</button>
            <input type="reset" value="Reset" class="btn btn-primary m-1" >

          </form>
    </div>
</div>